In [2]:
from astroquery.ned import Ned
from astropy.table import Table

In [24]:
sn_names = Table.read('./fits files/Rigault 15 Supernova/R15 sn list.csv', format = 'ascii.csv')
data_table = Table(names = ['sn', 'RA(deg)', 'DEC(deg)'], dtype = ['S10', 'float64', 'float64'])

for row in sn_names:
    try:
        ned_table = Ned.query_object('sn' + row[0])
        data_table.add_row([row[0], ned_table['RA(deg)'][0], ned_table['DEC(deg)'][0]])
        
    except Exception as e:
        print(row[0], e, '\n')

In [26]:
data_table

<Table masked=False length=115>
   sn    RA(deg)   DEC(deg)
bytes80  float64   float64
------- --------- ---------
  1990O 258.90069  16.32203
 1990af 323.74752 -62.73709
  1991U 200.84193 -26.10915
  1992J 152.25028 -26.64214
  1992P 190.70386  10.36007
 1992ae 322.07476 -61.55038
 1992ag 201.04106  -23.8788
 1992bg 115.48563 -62.51946
 1992bh  74.86282  -58.8304
 1992bk  55.75869 -53.61873
    ...       ...       ...
 2007ae 255.46646  79.03183
 2007ai 243.22392 -21.63019
 2007ar 200.25804  58.55067
 2007ba 229.17763   7.39661
 2007bd 127.88867  -1.19944
 2007cg 201.38992 -24.65225
 2007co   275.765  29.89711
 2007cg 201.38992 -24.65225
 2008af 224.86875  16.65342
 2008bf 181.01208  20.24517